


canvas {
  border: 1px solid black;
  background: #281439;
  cursor: grab;
  position: absolute;
}

body {
  margin: 0;
}

#container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}